LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "functionAppName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "The name of the function app to create. Must be globally unique."
      }
    },
    "OneDrive_Connection_Name": {
      "type": "string",
      "metadata": {
        "description": "Name to use for OneDrive API connection"
      },
      "defaultValue": "onedrive"
    },
    "OneDrive_Connection_DisplayName": {
      "type": "string",
      "metadata": {
        "description": "DisplayName to use for OneDrive API connection"
      }
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "servicebus",
      "metadata": {
        "description": "Service Bus Connection Name"
      }
    },
    "serviceBusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "WorkbenchConnection",
      "metadata": {
        "description": "Service Bus Connection Display Name"
      }
    },
    "serviceBusConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Service Bus Connection String"
      }
    },
    "serviceBusQueue": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Service Bus Queue Name"
      }
    },
    "userChainIdentifier": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "User Chain Identifier"
      }
    },
    "registryAddress": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "File Registry Contract Address"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Hash_File_Content": {
              "type": "Function",
              "inputs": {
                "body": "@triggerBody().$content",
                "function": {
                  "id": "/subscriptions/e62ff314-dfd1-4d0c-9a16-9e522748eec9/resourceGroups/PreInvent-Samples/providers/Microsoft.Web/sites/SamplesFunctionApp/functions/GenericHashFunction"
                }
              },
              "runAfter": {}
            },
            "Hash_File_Metadata": {
              "type": "Function",
              "inputs": {
                "body": {
                  "contentType": "@triggerOutputs()['headers']['Content-Type']",
                  "etag": "@triggerOutputs()['headers']['x-ms-file-etag']",
                  "id": "@triggerOutputs()['headers']['x-ms-file-id']",
                  "name": "@triggerOutputs()['headers']['x-ms-file-name-encoded']",
                  "path": "@triggerOutputs()['headers']['x-ms-file-path-encoded']"
                },
                "function": {
                  "id": "/subscriptions/e62ff314-dfd1-4d0c-9a16-9e522748eec9/resourceGroups/PreInvent-Samples/providers/Microsoft.Web/sites/SamplesFunctionApp/functions/GenericHashFunction"
                }
              },
              "runAfter": {
                "Hash_File_Content": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_RequestId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RequestId",
                    "type": "String",
                    "value": "@{guid()}"
                  }
                ]
              },
              "runAfter": {
                "Hash_File_Metadata": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_ProcessDateTime": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ProcessDateTime",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "Initialize_RequestId": [
                  "Succeeded"
                ]
              }
            },
            "Send_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "SessionId": "@variables('RequestId')",
                  "ContentData": "@{base64(concat('{','\n','    \"requestId\": \"',variables('RequestId'),'\",','\n','    \"userChainIdentifier\": \"',variables('UserChainIdentifier'),'\",','\n','    \"applicationName\": \"FileRegistry\",','\n','    \"workflowName\": \"File\",','\n','    \"parameters\": [','\n','        {','\n','            \"name\": \"registryAddress\",','\n','            \"value\": \"',variables('RegistryAddress'),'\"','\n','        },','\n','        { \"name\": \"fileId\", \"value\": \"',triggerOutputs()['headers']['x-ms-file-id'],'\" },','\n','        { \"name\": \"location\", \"value\": \"',base64ToString(triggerOutputs()['headers']['x-ms-file-path-encoded']),'\" },','\n','        { \"name\": \"fileHash\", \"value\": \"',body('Hash_File_Content'),'\" },','\n','        { \"name\": \"fileMetadataHash\", \"value\": \"',body('Hash_File_Metadata'),'\" },','\n','        { \"name\": \"contentType\", \"value\": \"',triggerOutputs()['headers']['Content-Type'],'\" },','\n','        { \"name\": \"etag\", \"value\": \"',triggerOutputs()['headers']['x-ms-file-etag'],'\"},','\n','        { \"name\": \"processedDateTime\", \"value\": \"',variables('ProcessDateTime'),'\" }           ','\n','    ],','\n','    \"connectionId\": 1,','\n','    \"messageSchemaVersion\": \"1.0.0\",','\n','    \"messageName\": \"CreateContractRequest\"','\n','}'))}"
                },
                "path": "/@{encodeURIComponent(encodeURIComponent('ingressqueue'))}/messages",
                "queries": {
                  "systemProperties": "None"
                }
              },
              "runAfter": {
                "Initialize_File_Registry_Address": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_UserChainIdentifier": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UserChainIdentifier",
                    "type": "String",
                    "value": "[parameters('userChainIdentifier')]"
                  }
                ]
              },
              "runAfter": {
                "Initialize_ProcessDateTime": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_File_Registry_Address": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RegistryAddress",
                    "type": "String",
                    "value": "[parameters('registryAddress')]"
                  }
                ]
              },
              "runAfter": {
                "Initialize_UserChainIdentifier": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_file_is_created": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['onedriveforbusiness_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/onnewfile",
                "queries": {
                  "folderId": "/"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 3
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
                "connectionName": "[parameters('serviceBusConnectionName')]"
              },
              "onedriveforbusiness_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('OneDrive_Connection_Name'))]",
                "connectionName": "[parameters('OneDrive_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('OneDrive_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('OneDrive_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"
        },
        "displayName": "[parameters('OneDrive_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('serviceBusConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('serviceBusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('serviceBusConnectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}